.file-list.selected{
  border: 1px solid blue;
  border-radius: 5px;
}

.file-list{
  flex: 1;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}

.file-list .permission-form li{
  display: flex;
}

.file-item{
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
}


.file-item .more-menu{
  position: absolute;
  right: 12px;
}