.dashboard-view{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 22px);
    overflow-y: auto;
}

.dashboard-view .react-grid-layout{
    flex: 1;
    height: 100vh !important;
}