
.treeActions {
    transition: opacity 150ms ease-in;
    opacity: 0;
}

.labelRoot{
    flex: 1;
    display: flex;
    align-items: center;
    padding: 8px;
}

.labelText{
    flex: 1;
    height: 50px;
    display: flex;
    align-items: center;
}

.labelIcon{
    margin-right: 8px;
}

.labelRoot:hover .treeActions{
    opacity: 1;
}