.team-circles{
    display: flex;
}

.team-circles > *:nth-child(1){
    margin-left: 0;
}

.team-circles > *{
    font-size: 16px !important;
    height: 33px !important;
    width: 33px !important;
    margin-left: -18px;
}