.tree-item:hover svg{
    display: flex;
}

.tree-item{
    height: 58px;
}

.tree-item svg{
    display: none;
}

.plan-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
}

.plan-hive{
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.plan-container{
    height: calc(100% - 48px);
    position: relative;
    display: flex;
}