.knowledge-base{
    flex: 1;
    display:flex;
    text-align: left;
    position: relative;
    height: 100%;
}

.knowledge-base__menu {
    background: red;
    flex: 0.25;
}

.knowledge-base__editor{
    flex: 0.75;
    height: calc(100% - 16px);
    padding: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}